body > header:first-child, body > footer:last-child {
    background-image: url(https://cdn.jsdelivr.net/npm/hje@2.2.0/docs/images/bg/jc/heart_dark.jpg);
    background-position-x: 50%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: 240px;
}
body > header:first-child {
    border-bottom: 1px solid #333;
}
body > footer:last-child {
    border-top: 1px solid #333;
}
body > header:first-child > section:first-child > h1 > img {
    width: 48px; height: 48px; vertical-align: middle; margin-right: 8px;
}
body > header:first-child > section:first-child > h1 > img:hover {
    width: 50px; height: 50px; vertical-align: middle; margin-right: 6px;
}
#blog_content > article > main > p > img {
    max-width: 640px;
    border-radius: 4px;
}
#blog_content > article > main > ul > li > img, #blog_content > article > main > ol > li > img,
#blog_content > article > main > ul > li > ul > li > img, #blog_content > article > main > ol > li > ul > li > img,
#blog_content > article > main > ul > li > ol > li > img, #blog_content > article > main > ol > li > ol > li > img,
#blog_content > article > main > ul > li > p > img, #blog_content > article > main > ol > li > p > img,
#blog_content > article > main > ul > li > ul > li > p > img, #blog_content > article > main > ol > li > ul > li > p > img,
#blog_content > article > main > ul > li > ol > li > p > img, #blog_content > article > main > ol > li > ol > li > p > img {
    max-width: 600px;
    border-radius: 4px;
}
#blog_content > article > main > hr {
    color: #666;
    margin: 20px 0;
    border-style: solid none none none;
}
