body {
    color: #333;
    font-family: 'Segoe UI', '微软雅黑', 'Microsoft JhengHei', Tahoma, "Helvetica Neue", Arial, Geneva, Verdana, sans-serif, "Segoe UI Symbol";
    font-size: 14px;
    background-color: #F9F9F9;
    padding: 0;
    margin: 0;
}
a, a:visited {
    color: #47C;
    text-decoration: none;
}
a:hover {
    color: #47C;
    text-decoration: underline;
    cursor: pointer;
}
body > header a, body > header a:visited {
    color: #333;
    text-decoration: none;
}
body > header a:hover {
    color: #47C;
    text-decoration: none;
    cursor: pointer;
}
body > header:first {
    height: 39px;
    background-color: #F9F9F9;
    border-top: 1px solid #F9F9F9;
}
body > header + header {
    background-color: #E3E3E3;
    border-bottom: 1px solid #DDD;
}
body > header > section, body > header + header > section {
    width: 100%;
    max-width: 1000px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
body > header > section > h1:first-child {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    line-height: 39px;
    width: 200px;
    height: 39px;
    padding: 0 0 0 10px;
    margin: 0;
    cursor: default;
}
body > header > section > h1:first-child > a, body > header > section > h1:first-child > a:visited {
    color: #666;
}
body > header > section > h1:first-child > a:last-child, body > header > section > h1:first-child > a:last-child:visited {
    color: #333;
    font-size: 20px;
}
body > header > section > h1:first-child > a:hover {
    color: #47C;
}
body > header > section > ul, body > header > section > ul > li,
body > header + header > section > ul, body > header + header > section > ul > li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
}
body > header > section > ul, body > header + header > section > ul {
    display: block;
}
body > header > section > ul > li, body > header + header > section > ul > li {
    display: inline-block;
}
body > header > section > ul > li > a, body > header + header > section > ul > li > a {
    text-align: center;
    line-height: 40px;
    padding: 0 20px;
    display: block;
}
body > header > section > ul > li > a, body > header + header > section > ul > li > a:first-child {
    padding-left: 10px;
}
body > header > section > ul > li.state-selected-t {
    color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #E3E3E3;
}
body > section {
    width: 100%;
    max-width: 1000px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
body > section > h3, body > section > div, body > section > p {
    padding: 10px;
}
body > section > h3 {
    font-size: 16px;
    font-weight: bolder;
    font-style: normal;
    line-height: 30px;
    margin: 0;
    cursor: default;
}
body > section > h3 > svg, body > section > h3 > span, body > section > h3 > a {
    vertical-align: middle;
}
body > section > ul, body > section > ul > li {
    background-color: transparent;
}

#blog_content > h1 {
    font-size: 36px;
    font-weight: lighter;
    font-style: normal;
    line-height: 40px;
    width: 100%;
    padding: 0;
    margin: 20px 0;
    position: relative;
    float: none;
    cursor: default;
}
#blog_content > ul, #blog_content > ul > li {
    font-size: 16px;
    position: relative;
    list-style: none;
}
#blog_content > ul {
    padding: 14px 19px;
    margin: 0;
    border: 1px solid #DDD;
    border-radius: 4px;
    float: none;
}
#blog_content > ul > li {
    font-size: 16px;
    padding: 0;
    margin: 8px 0;
}
#blog_content > section {
    font-size: 16px;
    max-width: 600px;
}
#blog_content > section image {
    max-width: 600px;
}
#blog_content > section > pre {
    background-color: rgba(128, 128, 128, 0.1);
    padding: 10px;
    overflow-x: auto;
}
#blog_content > section + h1 {
    font-size: 18px;
    font-weight: bolder;
    line-height: 40px;
    width: auto;
    height: 40px;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 0;
    left: 620px;
}
#blog_content > section + h1 + ul,
#blog_content > section + h1 + ul + h2 + ul {
    width: auto;
    padding: 0;
    border: 0 none transparent;
    border-radius: 0;
    position: absolute;
    top: 50px;
    right: 0;
    left: 620px;
}
#blog_content > section + h1 + ul > li,
#blog_content > section + h1 + ul + h2 + ul > li {
    position: relative;
}
